---
layout: layouts/base.njk
title: What is the difference between ˍˍˍ and ˍˍˍ in the front-end development?
eleventyExcludeFromCollections: true
---

<div class="container">
    <div class="hero">
        <h1 class="hero__heading">What is the difference between ˍˍˍ and ˍˍˍ in the front-end development?</h1>
        <a class="hero__button" href="https://github.com/phuocng/this-vs-that">Star me on GitHub</a>
    </div>

    {%- for post in collections.sortByTitle -%}
        <div class="card__item">
            <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
        </div>
    {%- endfor -%}

    {% include "follow.njk" %}
</div>